{% extends 'base.html.twig' %}
{% block pageclass %}error{% endblock %}
{% block hero %}{% endblock hero %}
{% block sections %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block bodyclass %}error-page{% endblock %}
{% block body %}

<div id="error-section"  class="js-fullheight"  style="background: url({{ asset('/images/home-wide.jpg') }}) 100% 100%/cover;">
    <div class="container">
            <div class="col-md-6 fh5co-heading animate-box">
                <h2>{% trans%}Algo fue mal...{% endtrans %}</h2>
                <p>El servidor retornó un "{{ status_code }} {{ status_text }}".</p>
    {% if status_code == 404 %}
    <p>Es probable que escribieras la dirección incorrectamente o que la página ya no exista.</p>
    {% endif %}
    <p><a href="{{ path("homepage") }}" class="btn btn-primary btn-outline">Regresar al Inicio <i class="icon-arrow-right"></i></a></p>
            </div>
        
    </div>
</div>
    
{% endblock body %}
