app/config/security_dev.yml
app/config/security.yml
app/config/config_dev.yml
public_html/.htaccess
app/config/parameters.yml
/.web-server-pid
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/SymfonyRequirements.php
/vendor/
/var
.idea
public_html/app_dev.php
app/bootstrap.php.cache
/public_html/bundles/
/public_html/static/cache/
public_html/static/uploads/*
trans/
trans/*
.*
vinales-taxi
habana.tech
access-logs
www
z
logs
etc
ssl
tmp
mail