<div class="card">
    <span style="margin: 10px; text-align: center; display: block;font-weight: 600;">Frecuencia de nuevas reservas</span>
    <div class="content">
        <canvas id="bookingChart" style="max-height: 145px;width: 100%;" height="145"></canvas>
    </div>
</div>
<!--  Charts Plugin -->
<script src="{{ asset('js/Chart.bundle.min.js') }}"></script>
<script>
    var ctx = document.getElementById("bookingChart");
    var bookingChart = new Chart(ctx, {
        type: 'bar',
        data: {{ render(path('dash_json_lastweek_booking')) }},
        options: {
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            },
            tooltips: {
                mode: 'index',
                intersect: false
            }
        }
    })
</script>
<style type="text/css">
	.service_experience{
		border-left: solid 5px #dd6666;
	}
	.service_transfer{
		border-left: solid 5px #66dd66;
	}
	.service_airporttransfer{
		border-left: solid 5px #6666dd;
	}
    tr.stared{
        background-color: bisque !important;
    }
</style>