DirectoryIndex index.html
Options FollowSymlinks


<IfModule mod_rewrite.c>
    RewriteEngine Off

</IfModule>

<FilesMatch ".(eot|ttf|otf|woff|js|css)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>
