<div class="col-lg-6 col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title" data-toggle="collapse"  data-target="#airportsCollapse">Aereopuertos disponibles
                <i class="fa fa-angle-double-down"></i>
                <a href="{{ path('dash_airport_new') }}" class="btn btn-primary" style="float: right">
                    <i class="fa fa-plus"></i> </a></h4>
        </div>
        <div class="content ">
            <div class="row collapse"  id="airportsCollapse">
                <div class="col-md-12">
                    <ul>
                        {% for airport in airports %}
                            <li>
                                {{ airport.nombre }} - <a href="{{ path('dash_airport_edit', { 'id': airport.id }) }}">editar</a>
                            </li>
                        {% endfor %}
                    </ul>



                </div>
                <HR>
                <div class="col-md-12">
                    <a href="{{ path('dash_airport_new') }}" class="btn btn-default">Agregar un aereopuerto</a>
                </div>
            </div>
        </div>
    </div>
</div>
