<div class="text-center offset-top-33">
    <button type="submit" class="btn btn-xl btn-primary" id="booking_submit">
        <i class="fa fa-shopping-cart "></i>

        {% if config['trekksoft.pays.id'] != 'null' %}
            {% trans %}Next{% endtrans %}
        {% else %}
            {% trans %}Book Now{% endtrans %}
        {% endif %}

        <span class="text-extra-small">*</span>
    </button>
</div>