<div class="external_manage_booking" style="margin: 2em;">
    <a href="#" id="trekksoft_{{ trekksoftId }}" class="btn btn-primary">
        {% if complete_booking is defined %}
            {% trans %}Complete booking!{% endtrans %}
        {% else %}
            {% trans %}¡Reserve ahora!{% endtrans %}
        {% endif %}
</a>

<!-- TODO: url del api de trekksoft del intermediario -->
    <script src="https://cubyke.trekksoft.com/en_GB/api/public"></script>
    <script>
        console.log("HERE!!");
        (function() {
            var button = new TrekkSoft.Embed.Button();
            button
                .setAttrib("target", "fancy")
                .setAttrib("entryPoint", "tour")
                .setAttrib("tourId", "{{ trekksoftTourId }}")
                .setAttrib("fancywidth", "615px")
                .registerOnClick("#trekksoft_{{ trekksoftId }}");
        })();
    </script>
</div>