<div class="external_manage_booking" style="margin: 2em;">
    <a href="#" id="trekksoft_{{ trekksoftId }}" class="btn btn-primary">
{#        {% if complete_booking is defined %}#}
{#            {% trans %}Complete booking!{% endtrans %}#}
{#        {% else %}#}
{#            {% trans %}¡Reserve ahora!{% endtrans %}#}
{#        {% endif %}#}
        <img src="https://cubyke.trekksoft.com/cache/images/widget-buttons/eyJsYWJlbCI6Ilwvd2lkZ2V0XC9ib29rLWJ1dHRvbi5wbmciLCJjYXB0aW9uIjoiQm9vayBOb3chIiwiZm9yZUNvbG9yIjoiI2ZmZmZmZiIsImJhY2tDb2xvciI6IiM2NGI1ZjYifQ==.png" alt="Book Now!" title="Book Now!" border="0" />
</a>

<!-- TODO: url del api de trekksoft del intermediario -->
    <script src="https://cubyke.trekksoft.com/en_GB/api/public"></script>
    <script>
        (function() {
            var button = new TrekkSoft.Embed.Button();
            button
                .setAttrib("target", "fancy")
                .setAttrib("entryPoint", "tour")
                {#.setAttrib("tourId", "{{ trekksoftTourId }}")#}
                .setAttrib("fancywidth", "615px")
                .registerOnClick("#trekksoft_{{ trekksoftId }}");
        })();
    </script>
</div>