{% extends 'AppBundle:Front:base.html.twig' %}

{% block title %}
    blog
{% endblock %}


{% block content %}

    <!-- Page Content-->
    <main class="page-content section-75 section-md-top-90 section-md-bottom-95">

        <!-- Blog Classic Both Sidebar-->
        <section>
            <div class="shell">
                <h1 class="inset-lg-left-200">Blog</h1>

                <div class="range range-xs-center range-lg-left offset-top-50">
                    <div class="cell-sm-10 cell-md-8 cell-md-push-1">

                        <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">search</p>
                        <div class="offset-top-30">
                            <!-- RD Search Form-->
                            <form action="search-results.html" method="GET" class="form-search blog-form-search rd-search">
                                <div class="form-group">
                                    <input type="text" name="s" autocomplete="off" class="form-search-input form-control null">
                                </div>
                                <button type="submit" class="form-search-submit"><span class="icon icon-sm material-icons-ico material-icons-search"></span></button>
                            </form>
                        </div>

                        <!-- Post Classic-->
                        <article class="post-classic text-left offset-top-50">
                            <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-23-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                            <div class="post-classic-body offset-top-30">
                                <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                                    <div class="unit-body">
                                        <!-- Post Meta-->
                                        <div class="post-meta">
                                            <p class="text-spacing-0">July 25, 2016</p>
                                        </div>
                                        <!-- Post Title-->
                                        <div class="post-title">
                                            <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Finding lost property</a></p>
                                        </div>
                                        <!-- Post Body-->
                                        <div class="post-body offset-top-15 offset-md-top-25">
                                            <p class="text-spacing-0">After an outing, you decide to catch a cab. You get home only to discover that you lost something really important in your taxi.  Most people won’t bother to try to find the item. We recommend using this little guide of recovering lost property to make your search for the lost item really successful. First, it will be a good decision to contact...  <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase text-spacing-50">Read More</a></p>
                                        </div>
                                        <div class="offset-top-20 offset-md-top-30">
                                            <!-- List inline marked-->
                                            <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                                                <li><a href="#" class="text-turquoise">How to</a></li>
                                                <li><a href="#" class="sk">Lost property</a></li>
                                                <li><a href="#" class="text-turquoise">Taxi</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="unit-right">
                                        <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                                            <div class="unit-left"><img src="images/users/user-sandra-green-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                                            <div class="unit-body text-center offset-top-4">
                                                <p class="text-extra-small text-spacing-0 text-bold">
                                                    <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Sandra <br class="veil reveal-sm-inline-block"> Green</a></cite>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="offset-top-30">
                            <div class="hr bg-gray-lighter"></div>
                        </div>
                        <div class="offset-top-35">
                            <!-- Post Classic-->
                            <article class="post-classic text-left">
                                <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-27-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                                <div class="post-classic-body offset-top-30">
                                    <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                                        <div class="unit-body">
                                            <!-- Post Meta-->
                                            <div class="post-meta">
                                                <p class="text-spacing-0">July 20, 2016</p>
                                            </div>
                                            <!-- Post Title-->
                                            <div class="post-title">
                                                <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">how to select a taxi <br class="veil reveal-lg-inline-block"> service</a></p>
                                            </div>
                                            <!-- Post Body-->
                                            <div class="post-body offset-top-15 offset-md-top-25">
                                                <p class="text-spacing-0">A taxi is an essential component of the public transportation system. Whether you are calling a taxi to your home or office on a regular basis, or are visiting a strange city and need a cab to move around, you can benefit from using a taxi. First, not all taxis are the same. They may all look similar on the surface, but there is a range...  <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase text-spacing-50">Read More</a></p>
                                            </div>
                                            <div class="offset-top-20 offset-md-top-30">
                                                <!-- List inline marked-->
                                                <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                                                    <li><a href="#" class="text-turquoise">How to</a></li>
                                                    <li><a href="#" class="text-turquoise">Taxi</a></li>
                                                    <li><a href="#" class="text-turquoise">Services</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="unit-right">
                                            <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                                                <div class="unit-left"><img src="images/users/user-john-smith-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                                                <div class="unit-body text-center offset-top-4">
                                                    <p class="text-extra-small text-spacing-0 text-bold">
                                                        <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Tom <br class="veil reveal-sm-inline-block"> Jefferson</a></cite>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <div class="offset-top-30">
                                <div class="hr bg-gray-lighter"></div>
                            </div>
                            <div class="offset-top-35">
                                <!-- Post Classic-->
                                <article class="post-classic text-left">
                                    <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-30-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                                    <div class="post-classic-body offset-top-30">
                                        <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                                            <div class="unit-body">
                                                <!-- Post Meta-->
                                                <div class="post-meta">
                                                    <p class="text-spacing-0">July 10, 2016</p>
                                                </div>
                                                <!-- Post Title-->
                                                <div class="post-title">
                                                    <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">City-Taxi update: new Gadgets</a></p>
                                                </div>
                                                <!-- Post Body-->
                                                <div class="post-body offset-top-15 offset-md-top-25">
                                                    <p class="text-spacing-0">We are glad to introduce an update to all our taxis. Because technologies develop as time goes by, our  taxis also deserve something new. We decided that installing tablets for our clients’ convenience will be the best option, and here’s why and what they will include. The newly proposed tablets would have a credit card reader to collect the fare and...  <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase text-spacing-50">Read More</a></p>
                                                </div>
                                                <div class="offset-top-20 offset-md-top-30">
                                                    <!-- List inline marked-->
                                                    <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                                                        <li><a href="#" class="text-turquoise">Innovations</a></li>
                                                        <li><a href="#" class="text-turquoise">Taxi</a></li>
                                                        <li><a href="#" class="text-turquoise">Industry news</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="unit-right">
                                                <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                                                    <div class="unit-left"><img src="images/users/user-jane-sanders-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                                                    <div class="unit-body text-center offset-top-4">
                                                        <p class="text-extra-small text-spacing-0 text-bold">
                                                            <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Jane <br class="veil reveal-sm-inline-block"> Sanders</a></cite>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <div class="offset-top-30">
                                    <div class="hr bg-gray-lighter"></div>
                                </div>
                            </div>
                            <div class="offset-top-50">
                                <!-- Classic Pagination-->
                                <nav>
                                    <ul class="list-marked list-marked-type-2 list-marked-type-2-dot-1 list-marked-silver-chalice pagination-classic">
                                        <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_left"></a></li>
                                        <li class="active"><a href="#">01</a></li>
                                        <li><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li><a href="#">04</a></li>
                                        <li><a href="#">05</a></li>
                                        <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_right"></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="cell-sm-10 cell-md-4 cell-lg-3 text-sm-left offset-top-64 offset-md-top-0">

                        <div class="range range-xs-center">
                            <div class="cell-sm-6 cell-md-12 offset-md-top-55">
                                <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">tags</p>
                                <div class="offset-top-20">
                                    <!-- List inline marked-->
                                    <ul class="list-inline list-tags font-accent text-bold text-spacing-inverse-25 text-left">
                                        <li><a href="#" class="color-sky">Lost property</a></li>
                                        <li><a href="#" class="color-sky">Taxi</a></li>
                                        <li><a href="#" class="color-sky">Private driver</a></li>
                                        <li><a href="#" class="color-sky">Shuttle</a></li>
                                        <li><a href="#" class="color-sky">Services</a></li>
                                        <li><a href="#" class="color-sky">Sightseeing</a></li>
                                        <li><a href="#" class="color-sky">How To</a></li>
                                        <li><a href="#" class="color-sky">Industry news</a></li>
                                        <li><a href="#" class="color-sky">Innovations</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}
