{% extends 'AppBundle:Front:baseBooking.html.twig' %}


{% set title = "I'm going to "%}
{% if locale=='es' %}
    {% set title = "Voy a ir a " %}
{% endif %}

{% set title = title~place.getNameLocale %}

{% set featureImage =  place.getFullImageWebPath %}
{% set formTitle = place.getNameLocale %}

{% block destination %}

<!--- Parallax -->
    <div class="booking-place context-dark offset-top-0" style="margin-top: -8px;">
        <!-- RD Parallax-->
        <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{{ asset(place.getFullImageWebPath) }}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                <div class="shell section-75 section-md-top-103 section-md-bottom-110">
                    <div class="range range-xs-center">
                        <div class="cell-sm-10">

                            <div class="offset-top-60 offset-md-top-30">

                                <h2 class=" h1 text-center text-spacing-0 text-uppercase" style="border-radius: 5px;">
                                    {{ place.getNameLocale }}
                                </h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}