<h1>Hola mundo</h1>
<p>este será el reservas de la web <b>TaxiDriver</b>.</p>
{{ form_start(booking_form) }}
{{ form_widget(booking_form) }}
<input type="submit" value="Enviar">
{{ form_end(booking_form) }}