<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Paypal Transfer...</title>
</head>
<body>
{#TODO: change paypal url outside from sandbox#}
{#<form name="myform" method=post action="https://www.paypal.com/cgi-bin/webscr">#}
<form name="myform" method=post action="{{ paypalUrl }}">

    <input type="hidden" name="cmd" value="_notify-synch">
    <input type="hidden" name="tx" value="{{ paypalTransactionID }}">
    <input type="hidden" name="at" value="{{ paypalIdentificationToken }}">
    <input type="submit" value="PDT">
</form>
<script type="text/javascript">
    document.myform.submit();
</script>

</body>
</html>