<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Paypal Transfer...</title>
</head>
<body>
{#TODO: change paypal url outside from sandbox#}
<form method=post action="https://www.sandbox.paypal.com/cgi-bin/webscr">
    <input type="hidden" name="cmd" value="_notify-synch">
    <input type="hidden" name="tx" value="{{ paypalTransactionID }}">
    <input type="hidden" name="at" value="uHomgYGLNJgArgvdjIVjlGynjLxDK7cwYUbH1JmSlQ2phkfFH4HMk6NPHZW">
    <input type="submit" value="PDT">
</form>
<script type="text/javascript">
    //document.myform.submit();
</script>

</body>
</html>