<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Paypal Transfer...</title>
</head>
<body>
SADSAD
{#TODO: change paypal url outside from sandbox#}
{#<form name="myform" method=post action="https://www.sandbox.paypal.com/cgi-bin/webscr">#}
<form name="myform" method=post action="https://www.paypal.com/cgi-bin/webscr">
    <input type="hidden" name="cmd" value="_notify-synch">
    <input type="hidden" name="tx" value="{{ paypalTransactionID }}">
    <input type="hidden" name="at" value="uHomgYGLNJgArgvdjIVjlGynjLxDK7cwYUbH1JmSlQ2phkfFH4HMk6NPHZW">
    {#todo: change for real user_token#}
    {#<input type="hidden" name="at" value="115LN-GriiObuO-jrj_kX1rb370v4Y9v2lJsiq6HQs4iO_aujBfrcK6erfC">#}
    <input type="submit" value="PDT">
</form>
<script type="text/javascript">
    //document.myform.submit();
</script>

</body>
</html>