{% extends 'AppBundle:Front:base.html.twig' %}

{% set title = "Purchase details "%}
{% if locale=='es' %}
    {% set title = "Detalles de la compra " %}
{% endif %}

{% set featureImage = asset(content.getHeaderimage.getWebPath) %}
{#todo:fix description#}
{% set description =  'empty' %}

{% block content %}

    <!-- Page Content-->
    <main class="page-content section-75 section-md-top-90 section-md-bottom-95">

        <!-- Blog Classic Both Sidebar-->
        <section>
            <div class="shell">
                <h1 class="">{% trans %}Almost done!{% endtrans %}</h1>
                <div class="range range-xs-center range-lg-left offset-top-50">
                    <h2>{{ text }}</h2>
                    {{ purchase.token }}

                    {% for place in places %}
                        {{ place.getNameLocale }}
                    {% else %}
                        {# NO ES MANY PLACES, PUEDE SER OWNROUTE o simpleBook#}
                        {% if purchase.ownroute is not empty %}
                           {# OWNROUTE #}
                        {% else %}
                            <a href="{{ path('paypal_redirection', {'_token': purchase.token}) }}" class="btn btn-primary">GOTO PAYPAL</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            {% if purchase.accepted %}
                {# lester TRUE, a Paypal ...#}
                <a href=""
            {% else %}
                {# lester FALSE, aun no hay confirmacion, procesando.... #}

            {% endif %}
        </section>

    </main>

{% endblock %}
