<!-- Testimonials-->
<section class="section-75 section-md-top-40 section-md-bottom-20">
    <div class="shell">
        <h2>{% trans %}Testimonials{% endtrans %}</h2>
        <div class="range range-xs-center offset-top-20">
            <div class="cell-sm-10 cell-md-2">
                <div id="TA_selfserveprop245" class="TA_selfserveprop">
                    <ul id="UgXRuE" class="TA_links 5A9w779">
                        <li id="bGmGQTDg5" class="uHSLrEnrO">


                            <div class="tours__tripadvisor-widget lazyload" data-script="https://www.jscache.com/wejs?uniq=25&locationId=13554747&lang=en_US&border=true&display_version=2&wtype=selfserveprop&rating=true&nreviews=4&writereviewlink=true&popIdx=true&iswide=false">
                                <div id="TA_selfserveprop25" class="TA_selfserveprop">
                                    <ul class="TA_links">
                                        <li>Reviews of <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">Cubyke</a></li>
                                    </ul>
                                </div>
                            </div>

{#                            <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">#}
{#                                <img src="{{ asset('images/tripadvisor-widget.png') }}" alt="TripAdvisor"/>#}
{#                            </a>#}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cell-sm-10 cell-md-8 col-md-offset-1">
                <div data-items="1" data-md-items="3" data-xs-stage-padding="5" data-loop="true" data-margin="30"
                     data-mouse-drag="false" data-nav="true" data-dots="true"
                     class="owl-carousel owl-nav-absolute owl-nav-primary owl-nav-top">

                    {% for testimony in testimonials %}
                        {{ include('@App/Front/index/_testimonial__partial.html.twig') }}
                    {% endfor %}
                </div>
            </div>


        </div>

        {% for socialNetwork in socialNetworks %}
            {% if socialNetwork.getName=="tripadvisor" %}
                <div style="max-width:560px;" class="btn-both-lines btn-both-lines-gray-lighter offset-top-30 center-block">
                    <a href="{{ socialNetwork.getProfilelink }}" target="_blank" style="min-width:260px;" class="btn btn-calypso">more testimonials from
                        <i class="fa fa-tripadvisor"></i>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
