{% extends 'AppBundle:Dash:base.html.twig' %}

{% set pagename = 'drivers' %}

{% block content %}
    <h1>Agregar chofer</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="submit" value="Guardar" class="btn-primary btn" id="" />

    {{ form_end(form) }}

{% endblock %}
