{{ form_start(form) }}
 <h4 class="modal-title">

     Reservaci&oacute;n {{ booking.id}}
     {% if not booking.price %}
     <small><i class="fa fa-warning fa-2x" style="color: rgba(255,154,31,0.73)"></i> </small>
    {% endif %}
 </h4>

{{ include('@App/Dash/booking/_partial_show.html.twig') }}


<div class="modal-footer">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
    <div class="col-md-6">
    <a href="{{ path('dash_booking_delete', {'id': booking.id}) }}" class="btn btn-default">Eliminar</a>
       

    </div>

</div>

</form>