{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Detalles de la reservaci&oacute;n{% endblock pagetitle %}
{% set pagename = 'booking' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Reservaci&oacute;n de {{ booking.fullname}}</h4>
              </div>
            <div class="content">
              {{ include('@App/Dash/bookingAjaxDetails.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
