{% extends 'AppBundle:Dash:clientNotification.html.twig' %}
{% block pagetitle %}Pasarela de Pagos{% endblock pagetitle %}
{% block content %}
    <div class="row">

        <div class="well">A&uacute;n no se ha habilitado esta p&aacute;gina.</div>


    </div>

{% endblock %}
